<div class="container" *ngIf="recipes?.length > 0">
  <div class="itemsNum ">
    Recipes on page:
    <a class="pageIndex" (click)="decrementItems()" *ngIf="itemsOnPage > 2">
      -
    </a>
    <a class="pageIndexDis" *ngIf="itemsOnPage == 2">
      -
    </a>
      {{itemsOnPage}}
    <a class="pageIndex" (click)="incrementItems()">
      +
    </a></div>
    <div class="recipeWrapper">
      <div *ngFor="let recipe of recipes | pages:currentPage:itemsOnPage" class="containerRecipe" 
        [routerLink]="['../recipeList', recipe._id]">
        <mat-card class="example-card">
          <div class="imgContainer"
              [ngStyle]="{ 'background-image': 'url(' + recipe.imageUrl + ')'}">
          </div>
          <mat-card-content>
            
          </mat-card-content>
      </mat-card>
      <div class="textCont">
        <mat-card-title style="font-size: 30px; line-height: 1.2em;">{{recipe.name?.substring(0,50)}}</mat-card-title>
            <mat-card-subtitle>{{recipe.lastUpdateDate | date:"M/d/yy, h:mm a"}}</mat-card-subtitle>
        <p style="font-size: 24px; padding: 3%; line-height: 1.1em;">
          {{recipe.description?.substring(0,200)}}
        </p>
      </div>
      </div>
    </div>
    <div class="pager">
          <a class="pageIndex" *ngIf="currentPage > 1"
            (click)="previousPage()">
            <
          </a>
          <a class="pageIndex" *ngIf="currentPage == 1"
            style="visibility: hidden;"
            >
            <
          </a>
          <a class="pageIndex" *ngFor="let page of pagesLength(recipes); let i = index;"
            [ngClass]="{'active': currentPage == page }"
            (click)="changePage(page)">
            {{page}}
          </a>
          <a class="pageIndex" style="visibility: hidden;" *ngIf="currentPage == pagesLength(recipes).length" >
            >
          </a>
          <a class="pageIndex" *ngIf="currentPage != pagesLength(recipes).length"
            (click)="nextPage()">
            >
          </a>
    </div>
</div>