div.containerRecipe {
    width: 95%;
    margin: 2% auto;
    transition: .3s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid silver;
}
div.containerRecipe:hover {
    transform: scale(1.02);
    cursor: pointer;
    transition: .5s;
    -webkit-box-shadow: 0px 7px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 18px 0px rgba(0,0,0,0.75);
}
.imgContainer {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
}
div.container {
    padding: 10px;
    width: 80%;
    margin: auto;
    background: #F8F8FF;
    display: flex;
    flex-direction: column;
}
div.textCont {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
a.pageIndex {
    padding: 20px;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s;
    margin: 0.2%;
}
a.pageIndex:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
a.pageIndex.active {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.pager {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    background: #2e6eaa;
    font-size: 18px;
}
div.recipeWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div.itemsNum {
    background-color: rgb(46, 110, 170); 
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
}
div.itemsNum input {
    width: 20px;
    text-align: center;
}
.pageIndex.hid {
    visibility: hidden;
}
.pageIndexDis {
    padding: 20px;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s;
    margin: 0.2%;
    color: #2e6eaa;
}
@media screen and (max-width: 1000px) {
    div.containerRecipe {
        grid-template-columns: 1fr;
    }
    div.recipeWrapper {
        grid-template-columns: 1fr;
    }
}