div.container {
    margin: 0 auto;
    z-index: 100;
    width: 90%;
    min-height: 85vh;
    max-height: 99vh;
    background: #fff;
    overflow-y: auto;
}

div.container div {
  padding: 4%;
}

form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

button[type="submit"] {
  width: 100%;
  background: green;
  margin: 0 auto;
  display: block;
  color: white;
  text-transform: uppercase;
}
div.container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
  background-color: #F5F5F5;
}

img {
    max-height: 20vh;
}

.example-full-width {
    width: 80%;
}
.example-list {
    margin: 1% 0 0 0%;
    width: 80%;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}
  
.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}
  
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.example-box:last-child {
    border: none;
}
  
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
    margin: 2% auto 0%;
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media screen and (max-width: 1000px) {
  form {
    grid-template-columns: 1fr;
  }
}