<div class="container">
  <button type="submit" (click)="submitForm()" 
  [disabled]="!profileForm.valid || ingredients?.length == 0 ||  steps?.length == 0"
  mat-stroked-button>Add recipe</button>
  <h1 style="text-align: center; padding-top: 2%">New recipe form</h1>
  <form [formGroup]="profileForm">
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter recipe name</mat-label>
        <input matInput placeholder="Pizza with naches" formControlName="recipeName" required>
        <mat-error>You must enter a value</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>The average cooking time</mat-label>
        <input matInput placeholder="1h 30m"
          required
          formControlName="time">
        <mat-error>You must enter a value</mat-error>
      </mat-form-field>

    </div>

    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Recipe description</mat-label>
        <textarea 
          formControlName="description" 
          matInput placeholder="Ex. It makes me feel..." 
          required
          rows="10"></textarea>
        <mat-error>You must enter a value</mat-error>
      </mat-form-field>  


      <img src="{{imageURL}}" alt="">

      <input type="file" accept="image/*" (change)="showPreview($event)">
  

    </div>
      
    <div>
      <h2>Ingredients:</h2>

      <br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label></mat-label>
      <input matInput placeholder="Meat (400g)"  formControlName="ingredient" value="">
    </mat-form-field>
    <br>
    <button mat-stroked-button (click)="pushIngred()">Add ingredient</button>

    <br>
    <div></div>
    <div cdkDropList
      *ngIf="ingredients?.length > 0"
      class="example-list" 
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let ing of ingredients; let i = index" cdkDrag >
        <div class="example-custom-placeholder" *cdkDragPlaceholder ></div>
        {{ing}} <i class="fas fa-times" (click)="deleteIng(i)"></i>
      </div>

    </div>
    </div>

    <div>
      <h2>Steps:</h2>

      <br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label></mat-label>
      <input matInput placeholder="Unwrap something else like chocolate"  formControlName="step" value="">
    </mat-form-field>
    <br>
    <button mat-stroked-button (click)="pushStep()">Add step №{{steps?.length+1}}</button>

    <br>
    <div></div>
    <div cdkDropList
      *ngIf="steps?.length > 0"
      class="example-list" 
      (cdkDropListDropped)="dropStep($event)">
      <div class="example-box" *ngFor="let step of steps; let i = index" cdkDrag >
        <div class="example-custom-placeholder" *cdkDragPlaceholder ></div>
       {{step}} <i class="fas fa-times" (click)="deleteStep(i)"></i>
      </div>
    </div>
    </div>
  </form>
</div>