div.leftBar {
    display: flex;
    align-items: center;
    background-color: rgb(46, 110, 170);
    justify-content: center;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: block;
    color: #ccc;
    transition: .6s;
    padding: 5px;
    width: 10%;
    text-align: center;
    text-transform: uppercase;
}
a:hover {
    transform: scale(1.05);
    transition: .3s;
    color: white;
}
.active-link {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transform: translateY(0px);
}
input.itemsPage {
    width: 20%;
}
@media screen and (max-width: 600px) {
    div.leftBar {
        flex-direction: column;
    }
    a {
        width: 100%;
    }
  }