<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
    {{data.description}}
</div>
<div>
    {{data.invalidateDate}}
</div>

<button mat-raised-button style="width: 100%; background: green" (click)="onNoClick()">OK</button>