<div class="container" *ngIf="recipe?.name != undefined">
    <div class="itemsNum">
        <a class="pageIndex"  (click)="delete(recipe._id)">Delete</a>
        <a class="pageIndex" [routerLink]="['../../editRecipe', recipe._id]">Update</a>
        <a class="pageIndex"  (click)="deleteImage(recipe._id)">Delete image</a>
    </div>
    <div class="content">
        <div class="main">
            <div class="mainText">
                
                <div class="text">
                    <h2>{{recipe.name}}</h2>
                        {{ recipe.lastUpdateDate | date:"M/d/yy, h:mm a"}}
                    <br>
                    <br>
                    <h3>{{recipe.description}}</h3>
                    <h4>Cooking time: {{recipe.time}}</h4>
                    <div [ngStyle]="{ 'background-image': 'url(' + recipe.imageUrl + ')'}"
                        class="imageDiv">

                    </div>
                </div>
                
            </div>
        </div>
        <div class="history">
            <h1>Ingredients:</h1>
            <div *ngFor="let item of recipe.ingredients; let i = index;">
            <h3>{{item}} </h3>
            </div>
        </div>
        <div class="steps">
            <h1>Steps:</h1>
            <div class="step" style="color: #646464" *ngFor="let step of recipe.steps; let i = index;"> 
                <br>
                <h3 style="color: #000;"><strong>Step {{i+1}}</strong></h3>
                <span style="padding-left: 10px">{{step}}</span>
            </div>
        </div>
    </div>
    <h1 *ngIf="recipe?.historyPath.length > 0">Recipe history:</h1>
    <div class="historyContainer">
        <div *ngFor="let item of recipe.historyPath; let i = index;" class="historyPath" (click)="openDialog(item)">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{item.name}}</mat-card-title>
                    <mat-card-subtitle>{{item.invalidateDate | date:"M/d/yy, h:mm a"}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    {{item.description}}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>