div.container {
    width: 95%;
    height: 500px;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
}
div.itemsNum {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #2e6eaa;
}
div.content {
    display: flex;
    flex-direction: row;
}
div.main {
    flex: 2;
    padding: 10px;
}
div.history {
    flex: 1;
    padding: 10px;
    text-align: center;
}
a.pageIndex {
    font-size: 18px;
    padding: 10px;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s;
    margin: 0.2%;
    text-decoration: none;
    text-transform: uppercase;
}
a.pageIndex:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
div.mainText {
    display: flex;
    flex-direction: row;
}
div.text {
    flex: 2;
    text-align: center;
}
div.steps {
    padding: 10px;
    flex: 1;
}
div.imageDiv {
    width: 70%;
    height: 500px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
div.historyContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}
div.historyPath {
    border: 1px solid silver;
    cursor: pointer;
    margin: 1%;
    flex: 1;
    transition: 1s;
}
div.historyPath:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
@media screen and (max-width: 1200px) {
    div.content {
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    div.itemsNum {
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width: 900px) {
    div.historyContainer {
        flex-direction: column;
    }
}