<div class="container">
    <button mat-raised-button (click)="save()">Save changes</button>
    <div class="content">
        <div class="text">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter recipe name</mat-label>
                <input matInput name="recipe.name" placeholder="" [(ngModel)]="recipe.name">
              </mat-form-field>
            <h3><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter description</mat-label>
                <input matInput name="recipe.description" placeholder="" [(ngModel)]="recipe.description">
              </mat-form-field></h3>
              <br>
            <h4>Cooking time: <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter cooking time</mat-label>
                <input matInput name="recipe.time" placeholder="" [(ngModel)]="recipe.time">
              </mat-form-field></h4>
            
    
            <div style="color: #646464" *ngFor="let step of recipe.steps; let i = index;"> 
                <h3 style="color: #000"><strong>Step {{i+1}}</strong></h3>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Step {{i+1}}</mat-label>
                    <input matInput name="recipe.steps[i]" placeholder="" [(ngModel)]="recipe.steps[i]">
                  </mat-form-field>
            </div>
        </div>
        <div class="ingredients">
            <h1>Ingredients:</h1>
            <div *ngFor="let item of recipe.ingredients; let i = index;">
                <h3><mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Ingredient {{i+1}}</mat-label>
                    <input matInput name="recipe.ingredients[i]" placeholder="" [(ngModel)]="recipe.ingredients[i]">
                  </mat-form-field></h3>
            </div>
    
            <div *ngFor="let item of recipe.historyPath; let i = index;">
                <div *ngIf="!recipe?.historyPath">
                    <h3>There are no changes in this recipe!</h3>
                </div>
            </div>
        </div> 
    </div>
</div>