div.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
div.container button {
  background: rgb(22, 175, 22);
}
div.ingredients {
  flex: 1;
  padding: 10px;
}
div.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
div.text {
  flex: 1;
  padding: 10px;
}
.example-full-width {
  width: 90%;
}
@media screen and (max-width: 1000px) {
  div.content {
      flex-direction: column;
      text-align: center;
  }
}