<div class="item" >
</div>
<div class="container">
    <div class="content"
    [ngStyle]="{ 'background-image': 'url(' + currentRecipe.imageUrl + ')'}">
        <div class="description" [routerLink]="['recipe', currentRecipe._id]">
            {{currentRecipe.name}} <br>
        </div>
    </div>
    <div class="rightSide">
        <div class="recipe"

        *ngFor="let item of recipes.result; let i = index"
        [class.recipeActive]="item._id === currentRecipe._id"
        [ngStyle]="{ 'background-image': 'url(' + item.imageUrl + ')'}"
        (click)="changeRecipe(i)">

        </div>
    </div>
</div>