div.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100vh;
} 
div.content {
    background: #333333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
div.rightSide {
    background: #333333;
    display: grid;
}
div.recipe {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.recipe:hover {
    cursor: pointer;
}
div.description {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 50%;
    color: #FFF;
    font-size: 70px;
    line-height: 120px;
    height: 120px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}
